<% if flash[:errors] %>
  <div id="error_explanation">
    <ul>
    <% flash[:errors].each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @client do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :age %>
<%= f.number_field :age %>

<%= f.label :gender%>
<%= f.text_field :gender%>

<%= f.submit %>
<% end %>